# Entornos virtuales
venv/
env/
.env
.venv/
Pipfile
Pipfile.lock

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración local de Streamlit (si usas secrets locales)
.streamlit/secrets.toml

# Archivos de datos locales temporales (opcional, por si acaso)
*.csv
*.xlsx
!encuesta_prueba.csv
